#canvas-tools-container{
    user-select: none;
    display :block;
    width:350px;
    color: #fff;
    // margin: 10px;
    padding: 0px;
    background-color: rgb(42, 49, 51);
    overflow-y:scroll;
    overflow-x: hidden;
  
  .canvas-tools{
    animation-name: modalOpen;
    animation-duration: 0.4s; 
    // transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-in-out;
    padding:10px;
  

  }
  .zoom_and_undo_container{
     margin: 15px 0px 0px;
    display:flex;
    justify-self: center;
    align-items: center;
    gap: 20px;
    width: 100%;

  }
    .zoom-container{
   
    background-color:rgba(87, 86, 86, 0.431);
    padding: 5px 2px;
    border-radius: 3px;
    font-size: .8rem;
    // width: 120px;
    text-align: center;
    width: 100%;

    // display: inline-block;
    button{
    color: #fff;
    // margin: 0px 5px ;
    padding: 4px 5px;
    transition: all 0.2s ease-in;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius:3px;
    border: unset;
     background-color:rgba(87, 86, 86, 0.431);
    //  width: 100%;
    
}

    }

    .undo-container{
            button{
                font-size: 26px;
                width: 80px;
                height: 30px
            }
    
    }

    .hide-tools-btn-container{     
        width: 100%;
        margin: 15px 0 0;
        padding: 0 15px;
        display:flex;
        justify-content: flex-end;
        button{
        cursor: pointer;
            
            padding: 0 5px;
            position:fixed;
            margin-right: 0px;
        }
    }

    .fonts_and_text-center{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius:5px;
    width: 100%;
    margin: 15px 0 0 0;
    background-color:rgba(87, 86, 86, 0.431);
    padding:10px 5px;
    .fonts-Select-size{
        width: 100%;
        display: flex;
        justify-content: space-around;
        .fontFamilySelect{
    width:70%;
    outline: none;
    font-size:.8rem;
    border-radius: 5px;
    height: 30px;

    }
    //fontsize
    input{
    border: unset;
    width: 25%;
    height: 30px;
    font-size:.8rem;
    padding-left: 10px;
    outline:none;
    border-radius: 4px;
    }
    }
    

   
      .text-center-container{
          
        margin: 10px 0 0 0;
        display: flex;
        justify-content: space-evenly;
     
        label{
        margin: 0px 0px;
        padding: 3px 7px;
        transition: all 0.2s ease-in;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        background-color:rgb(44, 52, 54);
        border-radius:3px
        
       
       }
       label:hover{
                       background-color:rgba(87, 86, 86, 0.733);
       }
    }
       
    }
  
    .color{
        
    visibility: hidden;
    position: absolute; 
    margin-left: 170px;
    border: unset;
    border-radius: 5px;
    outline: none;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    }

    .fill-tools{

    width: 260px;
    margin-top:5px;
    font-size: .8rem;
    background-color:rgba(87, 86, 86, 0.431);
    border-radius: 5px;
    padding: 5px;

    .fill-tools-container{
    display: flex;
    justify-content: space-around;
    width: 250px;
   
        div{
        margin-top: 10px;


        .fill-icon{
           
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: all 0.2s ease-in;
        padding: 10px;
        border-radius:5px;
        background-color:rgba(87, 86, 86, 0.431);
        
            
      
    }

    .fill-icon:hover{
        background-color:rgba(87, 86, 86, 0.733);

    }
 
    input{
    visibility: hidden;
    position: absolute; 
    margin-left: 100px;
    width: 100px;

    }
        }


 
    button{
        color: #fff;
        // margin: 0 0 0 5px;
        transition: all 0.2s ease-in;
        padding: 10px;
        border-radius:5px;
        background-color:rgba(87, 86, 86, 0.431);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
       
    }
    button:hover{
        background-color:rgba(87, 86, 86, 0.733);
    }
    }
    

     .transparent{
         font-size: 14px;
         display: flex;
         gap: 10px;
         align-items: center;
     }
 
}


    .stroke-tools{
    border-radius:5px;
    font-size: .8rem;
    margin-top:5px;
    display:flex;
    justify-content: flex-start;
    background-color:rgba(87, 86, 86, 0.431);
    width: 265;
    padding: 5px;
    gap: 10px;
    align-items: center;
    cursor:pointer;
    
       .stroke-color{
        display: flex;
        gap: 10px;
        justify-content:center;
        vertical-align: center;
        transition: all 0.2s ease-in;
        padding:8px;
        border-radius:5px;
        // background-color:rgba(87, 86, 86, 0.431);
        width:180px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        height:34px;

        label{
        width: 70px;
        height:20px  ;
        background-color:transparent;
        box-shadow: none;
        }
    
        input[type ="color"]{
        //    position: absolute; 
        border: unset;
        width:20px;
        padding: 0;
        height:20px;
        // margin-left: 190px;
        // border-radius: 8px;
        outline: none;
     

        }
        }
        .stroke-color:hover{
        background-color:rgba(87, 86, 86, 0.733);

        }
       

        .strokeWidth-container{
            border-radius:5px;
            transition: all 0.2s ease-in;
            display: flex;
            justify-content: flex-start;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            width:100%;
            padding: 3px;
            span{
                font-size: .8rem;
                  padding: 0 0 0 10px ;
            }
            input{
            border-radius: 5px;
            border: unset;
            width: 50%;
            height: 32px;
            font-size:.9rem;
            padding-left: 10px;
            outline:none;
            border-radius: 4px;
            margin-right: 10px;
            
         }
        }
        .strokeWidth-container:hover{
                background-color:rgba(87, 86, 86, 0.733);
        }

}

        .opacity-container{
                   background-color:rgba(87, 86, 86, 0.431);

        padding:10px 5px;
        border-radius: 5px;
        margin-top: 10px;
        }
        .opacity-container:hover{
        background-color:rgba(87, 86, 86, 0.733);
  
        }
        #scale-image{
            width:100%;
        }
      
       

        .icons{

        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        margin-bottom:5px;
        padding: 5px;
        text-align:center;
        display: flex;
        justify-content:flex-start;
        align-items:center;
        gap: 10px;

        .duplicate-btn{
        text-align:center;
        display: flex;
        justify-content:center;
        align-items:center;
        padding:0px 5px;
        transition: all 0.2s ease-in;
        border-radius:5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        font-size: 1.5rem;
        }

        }
        .duplicate-btn:hover{
        background-color:rgba(87, 86, 86, 0.733);

        }

        .lock-btn{
        text-align:center;
        display: flex;
        justify-content:center;
        align-items:center;
        padding:5px 5px;
        transition: all 0.2s ease-in;
        border-radius:5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        font-size: 1rem;

        }
        .lock-btn:hover{
        background-color:rgba(87, 86, 86, 0.733);

        }
        .folder-btn{
        text-align:center;
        display: flex;
        justify-content:center;
        align-items:center;
        padding:5px 5px;
        transition: all 0.2s ease-in;
        border-radius:5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        font-size: 1rem;

        }
        .ungroup-fake{
        text-decoration: line-through;
        background-color: rgb(99, 99, 99);
        display: none;
        }
        .folder-btn:hover{
        background-color:rgba(87, 86, 86, 0.733);

        }


        }
        .lock-object-container{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        padding: 2px 8px;

        height:300px;
        overflow-y:auto;
        top: 0px;
        bottom: 0;


        li{

        list-style: none;
        background-color:rgba(87, 86, 86, 0.431);
        transition: all 0.1s ease-in;
        padding:5px 8px;
        margin:3px 0;
        outline-color: rgba(175, 175, 175, 0.733);
        position: relative;
        display: flex;
        justify-content:space-between;
        align-items:center;
        border-radius:2px;
       cursor: pointer;
        width: 100%;
         user-select: none;

          
        }

         li:hover{
            background-color: rgb(46, 64, 71)
        }
        .unlock{
            font-size: 12px;
        }
        input{
              user-select: none;
            // max-width: 200px;
            width: 100px;
            background-color:transparent;
            outline: none;
            border: none;
            color: #fff;
            height:20px;
            padding: 0 5px;
            
        }
        input:focus{
            background-color:#fff;
            color: #333;
            user-select: none;
        }
       


}

